.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.grid-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.grid-row {
  
  display: flex;
}

.grid-item {
  background-color: #def2f1;
  border: 1px solid #000;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;

}

.dot {
  margin-left:  var(--margin-size);
  margin-top:  var(--margin-size);
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  
  border-radius: 50%;
  background-color: black;
}


.dot-right{
  margin-right:  var(--margin-size);
  margin-top:  var(--margin-size);
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  
  border-radius: 50%;
  background-color: black;
}

.dot-bottom{
  margin-left:  var(--margin-size);
  margin-bottom:  var(--margin-size);
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  
  border-radius: 50%;
  background-color: black;
}

.dot-bottom-right{
  margin-right:  var(--margin-size);
  margin-bottom:  var(--margin-size);
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  
  border-radius: 50%;
  background-color: black;
}