.settingsMenu{
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: #3AAFA9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    
}

.settingsMenu.active{
    transform: scale(1);
}

.settingsMenu_content{
    padding: 20px;
    border-radius: 12px;
    background-color: #5DD3CD;
    height: 700px;
    width: 400px;
    display: flex;
    
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 6px 22px 49px rgba(0, 0, 0, 0.53);
}

